# Assignment 3 Solution

## Submitted by Laiba

## Lists

1. Create an empty list my_list

In [1]:
my_list = []
print("Empty list:", my_list)

Empty list: []

### 2. Append three elements to my_list using the append method

In [2]:
my_list.append('apple')
my_list.append('banana')
my_list.append('mango')
print(my_list)

['apple', 'banana', 'mango']

### 3. Insert an element at a specific position in my_list using the insert method

In [3]:
my_list.insert(1,"grapes") # Insert 'grapes' at index 1
print(my_list)

['apple', 'grapes', 'banana', 'mango']

### 4. Remove an element from my_list using the remove method

In [4]:
my_list.remove("grapes")   # Remove 'grapes' from the list

### 5. Print the final state of my_list

In [5]:
print(my_list)

['apple', 'banana', 'mango']

## Q2. Tuples
### 1. Create a tuple my_tuple with at least five elements

In [9]:
my_tuple = ('Laiba', 'Zakia' , 'Sabahat' , 'Aqsa' , 'Faiqa')

### 2. Use tuple unpacking to assign values to multiple variables

In [10]:
a, b, c, d, e = my_tuple
# Print the values of the variables
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)
print("e:", e)

a: Laiba
b: Zakia
c: Sabahat
d: Aqsa
e: Faiqa

### 3. Concatenate two tuples and print the result

In [12]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the tuple
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

### 4. Access and print the elements of my_tuple using both positive and negative indexing

In [13]:
my_tuple = ('Sabahat' , 'Aqsa' , 'Laiba' , 'Faiqa' , 'Zakia')

#Access and print "Laiba" using positive indexing 
print ("Index 2:" , my_tuple[2])

#Access and print "Laiba" using negative indexing
print ("Index -3:" , my_tuple[-3])

Index 2: Laiba
Index -3: Laiba

### 5. Perform any operation that demonstrates that tuples are immutable

In [14]:
my_tuple = (1, 2, 3, 4, 5)

# Try to modify an element to tuple
try:
    my_tuple[0]=10 # Trying to change the first element
except TypeError as e:
    print ("Error:" , e)

Error: 'tuple' object does not support item assignment

# Question 3
### Input and Output

#### 1. Prompt the user to enter their name using input

In [16]:
name = input(" Enter your name: ")

 Enter your name: Laiba

### 2. Print a welcome message using the entered name

In [19]:
name = input("Enter your name: ")
print(f" Hello Welcome, {name}!")

Enter your name: Laiba
 Hello Welcome, Laiba!

### 3. Ask the user to input two numbers, convert them to integers, and calculate their sum and product
###  4. Display the results using formatted output

In [35]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum_result = num1 + num2
print(f"Sum: {sum_result}")

product_result = num1 * num2
print(f"product: {product_result}")

Enter first number: 10
Enter second number: 76
Sum: 86
product: 760

# Question 4.
## #Operators
#### 1. Create a variable number and initialize it with an integer value

In [28]:
num = 15

### 2. Use the modulus operator to check if the number is even or odd

In [30]:
# Check if the number is even or odd using the modules operator
if number % 2 == 0:
    print(num, "is even")
else:
    print(num,  "is odd")

15 is odd

### 3. Use a comparison operator to check if the number is greater than or equal to 10

In [31]:
#Check if the number is greater then or equal to 10
if number >= 10:
    print(num, "is greater than or equal to 10")
else:
    print(num, "is less then 10")

15 is greater than or equal to 10

### 4. Combine logical operators to create a complex condition and print the result

In [32]:
if number % 2 == 0 and number >= 10:
    print(num, "satisfies the complex condition")
else:
    print(num, "does not satisfy the complex condition")

15 does not satisfy the complex condition