# Assignment 4 Solution
## Question 1
### Lists
a) Create an empty list and populate it with integers.

In [1]:
int_list = [5, 3, 8, 1, 9]

### b) Perform the following operations on list :
1. Add an element at the beginning and end of the list.

In [3]:
int_list.insert(0, 10)  # Adding element at the beginning
int_list.append(15)     # Adding element at the end

print(int_list)

[10, 10, 5, 3, 8, 1, 9, 15, 15]

2. Remove an element from the list by its value.

In [4]:
int_list.remove(8)  # Removing the element '8'
print(int_list)

[10, 10, 5, 3, 1, 9, 15, 15]

3. Sort the list in ascending order.

In [5]:
#sort the list in ascending order
int_list.sort()
print(int_list)

[1, 3, 5, 9, 10, 10, 15, 15]

 4. Check if a specific element exists in the list.

In [7]:
check_int = 5
if check_int in int_list:
    print(f"Yes {check_int} exists")
else:
    print ("not exists")

Yes 5 exists

5. Display the final list after each operation.

In [8]:
print(int_list)

[1, 3, 5, 9, 10, 10, 15, 15]

# Question 2
## Tuple
#### a) Create a tuple of your favorite foods.

In [1]:
favorite_foods = ("Pizza", "Burger", "Biryani", "Pasta", "Ice Cream")
print( favorite_foods)

('Pizza', 'Burger', 'Biryani', 'Pasta', 'Ice Cream')

#### b) Access and print the elements of the tuple.

In [2]:
for food in favorite_foods:
    print (food)

Pizza
Burger
Biryani
Pasta
Ice Cream

#### c) Convert the tuple to a list and modify one of the elements.

In [4]:
#covert the tuple to list
foods_list = list(favorite_foods)

foods_list[2] = "Salad"  # Changing "Biryani" to "Salad"
print(foods_list)

['Pizza', 'Burger', 'Salad', 'Pasta', 'Ice Cream']

####  d) Convert the modified list back to a tuple.

In [5]:
modified_foods_tuple = tuple(foods_list)

#### e) Display the final tuple.

In [6]:
print(modified_foods_tuple)

('Pizza', 'Burger', 'Salad', 'Pasta', 'Ice Cream')

## Question 3
### Sets
#### a) Create two sets containing random integers

In [8]:
# Set one
set1 = {1, 2, 3, 4, 5}

# Set two
set2 = {4, 5, 6, 7, 8}

print("Set 1 :" , set1)
print("Set 2 :" , set2)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8}

#### b) Perform set operations on the sets, including union, intersection, and difference.

In [10]:
# Perform set operations
union_set = set1.union(set2)                   #union of set1 and set2
intersection_set = set1.intersection(set2)     #Intersection of set1 and set2
difference_set = set1.difference(set2)         #set difference of set1 - set2

#print the results
print("Set 1 :", set1)
print("Set 2 :", set2)
print(" ")
print("union of set1 and set2 :", union_set)
print("Intersection of set1 and set2:", intersection_set)
print("set difference of set1 - set2:", difference_set)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8}

union of set1 and set2 : {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
set difference of set1 - set2: {1, 2, 3}

####  c) Determine if one set is a subset or superset of the other.

In [12]:
#check if set1 is a subset of set2
is_subset = set1.issubset(set2)

#check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

#print the result
if is_subset:
    print("Set 1 is subset of Set 2")
else:
    print("Set 1 is not a subset of Set 2")
if is_superset:
    print("Set 1 is superset of Set 2")
else:
    print("Set 1 is not a superset of Set 2")

Set 1 is not a subset of Set 2
Set 1 is not a superset of Set 2

## Question 4
### Dictionaries
#### a) Create a dictionary with keys representing fruits and values representing their prices

In [14]:
fruits_dict = {
    "apple": 100, 
    "banana": 50, 
    "grape": 200,
    "orange":700,
    "mango" :400,
}
print(fruits_dict)

{'apple': 100, 'banana': 50, 'grape': 200, 'orange': 700, 'mango': 400}

 #### b) Add new key-value pairs to the dictionary.

In [15]:
# add new key-value pairs to the dictionary.
fruits_dict["orange"] = 120
fruits_dict["kiwi"] = 90

#print updated dictionary
print(fruits_dict)

{'apple': 100, 'banana': 50, 'grape': 200, 'orange': 120, 'mango': 400, 'kiwi': 90}

#### c) Access and print the value of a specific key.

In [17]:
print(fruits_dict['mango'])

400

#### d) Modify the value of an existing key.

In [19]:
#Modify the value of an existing key.
fruits_dict["apple"] = 150

#print updated dictionary
print(fruits_dict)

{'apple': 150, 'banana': 50, 'grape': 200, 'orange': 120, 'mango': 400, 'kiwi': 90}

#### e) Delete a key-value pair from the dictionary.

In [20]:
del fruits_dict["kiwi"]
print(fruits_dict)

{'apple': 150, 'banana': 50, 'grape': 200, 'orange': 120, 'mango': 400}

#### f) Display the final dictionary after each operation.

In [21]:
print(fruits_dict)

{'apple': 150, 'banana': 50, 'grape': 200, 'orange': 120, 'mango': 400}

# Question 5
You are given a dataset containing information about employees in
a company. The dataset includes the following fields for each
employee: employee ID (integer), name (string), department (string),
and salary (float).
#### using python data structure
 a) Create a list called "employees" and populate it with three employee records.

In [27]:
employees = [
    {"employee_id": 1, "name": "Laiba", "department": "Data scientist", "salary": 50000.0},
    {"employee_id": 2, "name": "saba", "department": "Software Engineer", "salary": 70000.0},
    {"employee_id": 3, "name": "Zakia", "department": "Finance", "salary": 60000.0}
]

#### b) Calculate the average salary of all employees and print the result.

In [25]:
#Calculate the average salary of all employees and print the result.
total_salary = sum(employee["salary"] for employee in employees)
average_salary = total_salary / len(employees)
print("average salary of employees:", average_salary)

average salary of employees: 60000.0

#### c) Convert the list of employees into a set called "unique_departments" to obtain unique department names.

In [28]:
unique_departments = {employee["department"] for employee in employees}
print("unique departments:", unique_departments)

unique departments: {'Data scientist', 'Software Engineer', 'Finance'}

#### d) Create a tuple called "highest_paid_employee" with the details of the employee with the highest salary.

In [32]:
highest_paid_employee = max(employees, key=lambda x: x["salary"])
print("highest_paid_employee :", highest_paid_employee)

highest_paid_employee : {'employee_id': 2, 'name': 'saba', 'department': 'Software Engineer', 'salary': 70000.0}

#### e) Display the final "employees" list, "unique_departments" set, and "highest_paid_employee" tuple.

In [40]:
for employee in employees:
    print(employee)

print("\nFinal unique_departments set:", unique_departments)
print("\nFinal highest_paid_employee:", highest_paid_employee)

{'employee_id': 1, 'name': 'Laiba', 'department': 'Data scientist', 'salary': 50000.0}
{'employee_id': 2, 'name': 'saba', 'department': 'Software Engineer', 'salary': 70000.0}
{'employee_id': 3, 'name': 'Zakia', 'department': 'Finance', 'salary': 60000.0}

Final unique_departments set: {'Data scientist', 'Software Engineer', 'Finance'}

Final highest_paid_employee: {'employee_id': 2, 'name': 'saba', 'department': 'Software Engineer', 'salary': 70000.0}